html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    margin-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors,
.validationMessage {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.loader {
    padding: 10px;
    visibility: hidden;
}

.showLoader {
    visibility: visible;
}

.loader.active {
    visibility: visible;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

#footer {
    position: absolute;
    bottom: 0;    
}

.progress-bar-label {
    min-width: 50px;
}

.lead-lesson {
    cursor: pointer;
}

.contact-lesson {
    cursor: pointer;
}


