<section>
    <!--<header>
    </header>-->
    
    <br />

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Database</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge" data-bind="text: totals.numberOfLeads"></span> Leads
                </li>

                <li class="list-group-item">
                    <span class="badge" data-bind="text: totals.numberOfContacts"></span> Contacts
                </li>

                <li class="list-group-item">
                    <span class="badge" data-bind="text: totals.numberOfUsers"></span> Users
                </li>

                <li class="list-group-item">
                    <span class="badge" data-bind="text: totals.numberOfLevels"></span> Levels
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input id="saveImportData" name="saveImportData" type="checkbox" data-bind="checked: options.saveImportData" />
                            Save import data
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input id="simulateImport" name="simulateImport" type="checkbox" data-bind="checked: options.simulateImport" disabled="disabled" />
                            Use simulation import data
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input id="startFromScratch" name="startFromScratch" type="checkbox" data-bind="checked: options.startFromScratch" />
                            Start import from scratch
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-info" data-bind="click: runImport, disable: inProgress">
                        <i class="fa fa-refresh" data-bind="css: { 'fa-spin': importInProgress }"></i> Update
                    </button>
                    <!--<div class="pull-right">
                Update
            </div>-->
                </li>
                <li class="list-group-item">
                    <button class="btn btn-danger" data-bind="click: runClear, disable: inProgress">
                        <i class="fa fa-times-circle" data-bind="css: { 'fa-spin': clearInProgress }"></i> Clear
                    </button>
                    <!--<div class="pull-right">
                Clear
            </div>-->
                </li>
            </ul>
        </div>
        <!--<div class="loader" data-bind="css: { showLoader: inProgress() }">
            <i class="fa fa-spinner fa-spin fa-2x active"></i>
        </div>-->
    </div>
    
</section>