<section>
    <header>
        <button class="btn btn-info pull-right" data-bind="click: runImport">
            <i class="fa fa-exchange"></i> Import
        </button>
        <h3 data-bind="text: title"></h3>
    </header>

    <section>
        <article>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" data-bind="text: numberOfLeads"></span> Leads
                    </li>
                    
                    <li class="list-group-item">
                        <span class="badge" data-bind="text: numberOfContacts"></span> Contacts
                    </li>
                    
                    <li class="list-group-item">
                        <span class="badge" data-bind="text: numberOfUsers"></span> Users
                    </li>
                    
                    <li class="list-group-item">
                        <span class="badge" data-bind="text: numberOfLevels"></span> Levels
                    </li>
                </ul>
            </div>
        </article>
    </section>
</section>