<section>
    <article>
        <div class="container">
            <br />

            <div class="row">
                <h2 data-bind="text: contact().name"></h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact Info</h3>
                        </div>
                        <!--<div class="list-group" data-bind="foreach: leads">
                            <a href="#" class="list-group-item lead-row">
                                <span data-bind="text: name"></span>
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>