<section>
    <article>
        <div class="container">
            <!--<div class="row">
                Select teacher
                <select data-bind="options: users, optionsText: 'displayName', value: selectedUser, event: { change: userChanged }"></select>
            </div>-->

            <br />
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Leads</h3>
                    </div>
                    <div class="list-group" data-bind="foreach: teacherLeads">
                        <a href="#" class="list-group-item dashboard-lead">
                            <span data-bind="text: name"></span>
                        </a>

                        <!--TODO: Show number of lessons for this lead which need attention (i.e. entering attendance data, not finalized)-->
                        <!--<span class="badge" data-bind="text: numberOfLeads"></span> Leads-->
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>