<section>
    <section>
        <article>
            <div class="container">
                <!--<div class="row">
                    Select teacher
                    <select data-bind="options: users, optionsText: 'displayName', value: selectedUser, event: { change: userChanged }"></select>
                </div>-->

                <br />

                <div class="row">
                    Select lead
                    <select data-bind="options: teacherLeads, optionsText: 'name', value: selectedLead, event: { change: leadChanged }"></select>
                </div>

                <br />

                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <!-- ko foreach: leadLessons -->
                                <th>
                                    <span data-bind="text: moment(date()).format('YYYY-MM-DD')"></span>
                                </th>
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: leadContacts">
                            <tr>
                                <td>
                                    <span data-bind="text: name"></span>
                                </td>
                                <!-- ko foreach: $parent.leadLessons -->
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </section>
</section>