<section>
    <article>
        <div class="container">
            <br />

            <div class="row">
                <h2 data-bind="text: lead().name"></h2>
            </div>

            <div class="row">
                <!--<div class="col-md-4">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">General</h3>
                    </div>
                    <div class="panel-body">
                    <dl class="dl-horizontal">
                    <dt>Teacher</dt>
                    <dd><span data-bind="text: lead().responsibleUser().displayName"></span></dd>-->
                <!-- ko if: lead().languageLevel() -->
                <!--<dt>Level</dt>
                    <dd><span data-bind="text: lead().languageLevel().name"></span></dd>-->
                <!-- /ko -->
                <!-- ko if: lead().status() -->
                <!--<dt>Status</dt>
                    <dd><span data-bind="text: lead().status().name"></span></dd>-->
                <!-- /ko -->
                <!-- ko if: lead().startDate() -->
                <!--<dt>Start Date</dt>
                    <dd><span data-bind="text: moment(lead().startDate()).format('dddd, MMM Do YYYY')"></span></dd>-->
                <!-- /ko -->
                <!--</dl>
                </div>
                </div>
                </div>-->

                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Progress</h3>
                        </div>
                        <div class="panel-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-bind="attr: {'aria-valuenow': progress.lessonsPassed, 'aria-valuemax': progress.lessonsTotal, 'style': 'width: ' + progress.lessonsPassedPercentage()}" aria-valuemin="0">
                                    <span class="progress-bar-label" data-bind="text: progress.lessonsPassedText"></span>
                                </div>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" data-bind="attr: {'aria-valuenow': progress.lessonsCompleted, 'aria-valuemax': progress.lessonsTotal, 'style': 'width: ' + progress.lessonsCompletedPercentage()}" aria-valuemin="0">
                                    <span class="progress-bar-label" data-bind="text: progress.lessonsCompletedText"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Students</h3>
                        </div>
                        <!--<div class="panel-body">

                            </div>-->

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Attended</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: leadContacts">
                                <tr class="contact-lesson">
                                    <td>
                                        <span data-bind="text: name"></span>
                                    </td>

                                    <td>
                                        <span data-bind="text: $parent.progress.getCurrentStudentAttendance(id())"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!--<div class="list-group" data-bind="foreach: leadContacts">
                                <a href="#" class="list-group-item contact-lesson">
                                    <span data-bind="text: name"></span>
                                </a>
                            </div>-->
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lessons</h3>
                        </div>
                        <!--<div class="panel-body">

                            </div>-->

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: leadLessons">
                                <tr class="lead-lesson" data-bind="css: { 'success': status() === 'Completed', 'danger': status() === 'Cancelled', 'info': status() == 'Planned' }">
                                    <td>
                                        <span data-bind="text: moment(date()).format('dddd, MMM Do YYYY')"></span>
                                    </td>

                                    <td>
                                        <span data-bind="text: status"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!--<div class="list-group" data-bind="foreach: leadLessons">
                                <a href="#" class="list-group-item lead-lesson" data-bind="css: { 'list-group-item-success': finalized, 'list-group-item-danger': !finalized() }">
                                    <span data-bind="text: moment(date()).format('dddd, MMMM Do YYYY')"></span>
                                </a>
                            </div>-->
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>