<section>
    <header>
        <button class="btn btn-info pull-right" data-bind="click: refresh">
            <i class="fa fa-refresh"></i> Refresh
        </button>
        <h3 data-bind="text: title"></h3>
    </header>
    
    <section data-bind="foreach: leads">
        <article>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd><span data-bind="text: name()"></span></dd>
                
                <dt data-bind="visible: languageLevel()">Level</dt>
                <dd data-bind="visible: languageLevel()"><span data-bind="text: languageLevel() ? languageLevel().name() : ''"></span></dd>
            </dl>
        </article>
    </section>
</section>