<section>
    <article>
        <div class="container">
            <br />

            <div class="row">
                <h2 data-bind="text: lesson().lead().name() + ' (' + lesson().status() + ')'"></h2>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2">
                    <div class="input-group date">
                        <input type="text" class="form-control" data-bind="date: lesson().date, disable: lesson().finalized" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="disable: lesson().finalized">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Attended</th>
                                <th>Homework</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: lesson().attendances">
                            <tr data-bind="css: { 'success': attended, 'danger': !attended() }">
                                <td class="attendance-row">
                                    <span data-bind="text: contact().name"></span>
                                </td>
                                <td>
                                    <input type="checkbox" data-bind="checked: attended, disable: lesson().finalized" />
                                </td>
                                <td>
                                    <select data-bind="options: $parent.homeworkResultOptions, value: homeworkPercentage, disable: lesson().finalized"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <!--<div class="list-group" data-bind="foreach: lesson().attendances">
                        <a href="#" class="list-group-item attendance-row" data-bind="css: { 'list-group-item-success': attended, 'list-group-item-danger': !attended() }">
                            <span data-bind="text: contact().name"></span>
                        </a>
                    </div>-->

                </div>
            </div>

            <br />

            <!--<div class="row" data-bind="ifnot: lesson().finalized">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: selectAll">
                        <i class="fa fa-check fa-lg"></i> All on board
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: selectNone">
                        <i class="fa fa-ban fa-lg"></i> Nobody showed up
                    </button>
                </div>
            </div>

            <br />-->

            <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control" rows="4" data-bind="text: lesson().comment, disable: lesson().finalized" placeholder="Enter a comment..." maxlength="1000"></textarea>
                </div>
            </div>

            <br />

            <div class="row" data-bind="ifnot: lesson().finalized">
                <button class="btn btn-primary" data-bind="click: saveChanges">
                    <i class="fa fa-save fa-lg"></i> Save changes
                </button>
                
                <button class="btn btn-success" data-bind="click: complete">
                    <i class="fa fa-check fa-lg"></i> Complete lesson
                </button>

                <button class="btn btn-danger" data-bind="click: cancel">
                    <i class="fa fa-ban fa-lg"></i> Cancel lesson
                </button>
            </div>
        </div>
    </article>
</section>